body{
    background-color: tomato;
}

img {
    width: 600px; 
    height: 300px;
    object-fit: cover;
text-align: center;
     box-shadow: 0px 10px 0px #b2a98f,
                 20px 34px 10px rgba(0,0,0,0.15),
                 20px 34px 12px rgba(0,0,0,0.1),
                 0px 44px 40px rgba(0,0,0,0.1);
    
}
center {
display: flex;
flex-flow: column;

}
.form-control{
    border-radius: 1.5rem;
    margin-bottom: 20px;
}
.form-group {
    margin-top: 5%;
    
}
.container{
  text-align: center;
background-color:  darkgrey; 
      box-shadow: 0px 10px 0px #b2a98f,
                 20px 34px 10px rgba(0,0,0,0.15),
                 20px 34px 12px rgba(0,0,0,0.1),
                 0px 44px 40px rgba(0,0,0,0.1);
}
